<div class="feature-content clearfix">
  {% for feature in site.data.feature %}
  {% if forloop.index == 3 %}
  <a href="{{ feature.url }}">
    <div class="" style="width: 100%">
      <div class="feature-container100">
        <p class="feature-title">{{ feature.title }}</p>
        <p class="feature-url"><img src="http://www.google.com/s2/favicons?domain={{ feature.url }}" alt="" class="feature-favicon">{{ feature.url }}</p>
        <img src="{{ feature.image }}" alt="" class="feature-banner w-100">
      </div>
    </div>
  </a>
  {% else %}
  <a href="{{ feature.url }}">
    <div class="col-50-50-50-50">
      <div class="feature-container">
        <p class="feature-title">{{ feature.title }}</p>
        <p class="feature-url"><img src="http://www.google.com/s2/favicons?domain={{ feature.url }}" alt="" class="feature-favicon">{{ feature.url }}</p>
        <img src="{{ feature.image }}" alt="" class="feature-banner">
      </div>
    </div>
  </a>
  {% endif %}
  {% endfor %}
</div>
