<div class="footer">
  <div class="container">
    <nav class="clearfix">
      <ul>
        <li>ホーム</li>
        <li>CV</li>
        <li>Profile</li>
        <li>新着情報一覧</li>
      </ul>
      <ul>
        <li>数理生物学研究室</li>
        <li>九州大学</li>
        <li>九州大学理学部</li>
        <li>九州大学大学院システム生命科学府</li>
        <li>Osoto Hitoyoshi</li>
        <li>note.shoyaiwanami.com</li>
      </ul>
      <ul>
        <li>Google Scholar</li>
        <li>Research Gate</li>
        <li>ORCiD</li>
        <li>Linkedin</li>
        <li>日本の研究.com</li>
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
      </ul>
      <ul>
        <li>岩波翔也 / Shoya Iwanami</li>
        <li>九州大学大学院システム生命科学府</li>
        <li>iwanamishoya[at]gmail.com</li>
      </ul>
    </nav>
    <p class="footer-copy">Copylight &copy {{ "now" | date:"%Y" }} Shoya Iwanami All rights reserved. 最終更新日：{{ "now" | date:"%Y年%-m月%-d日" }}</p>
  </div>
</div>
