@charset "UTF-8";

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.large-container{
  max-width: 1920px;
  width: 100%;
  margin: auto;
}

@media (max-width: 1920px) {
  .container{
    max-width: 1000px;
  }
}

.header-container{
  padding: 20px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.header-text{
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.site-top{
  overflow: visible;
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(300deg, #D70151, #6073B4);
  z-index: 1;
}



@media (max-width: 1000px) {
  .site-top-container{
    height: calc(250px + 20vw);
  }
}

.site-top-title{
  position: absolute;
  top: 10vh;
  right: 2vw;
  left: 2vw;
  z-index: 4;
}

@media (max-width: 600px) {
  .site-top-title{
    top: 100px;
  }
}

.site-top-title h1{
  font-family: 'Poppins', 'Avenir Next Condensed', 'Oswald', sans-serif;
  text-align: left;
  font-weight: 900;
  font-style: italic;
  font-size: 10vw;
  color: white;
  margin: 0;
  line-height: 10vw;
}

@media (max-width: 1000px) {
  .site-top-title h1{
    font-size: 15vw;
    line-height: 15vw;
  }
}

.site-top-menu{
  position: absolute;
  bottom: 0;
  right: 2vw;
  left: 2vw;
  padding-bottom: 5vh;
}

.site-top-menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-top-menu ul li{
  float: left;
  padding-right: 50px;
  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
  font-size: 54px;
  font-weight: 900;
}

.site-top-menu a{
  text-decoration: none;
  color: #ffffff;
  transition: .5s;
}

.site-top-menu a:hover{
  opacity: .5;
  transition: .5s;
}

@media (max-width: 1000px) {
  .site-top-menu ul li{
    font-size: 5vh;
  }
}

.site-top-content{
  position: absolute;
  right: 2vw;
  top: 20vh;
  left: 40vw;
  font-size: 4vw;
  font-weight: bold;
  color: #ffffff;
  opacity: .05;
  text-align: right;
}

.site-top-image{
  background-image: url(/assets/img/icons/basicinfo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: .05;
}

.site-top-icon{
  position: absolute;
  top: 300px;
  right: 0;
  left: 0;
  z-index: 2;
}

.site-top-icon img{
  max-width: 100%;
  width: 600px;
}

.latestnews{
  padding: 100px 0;
}

.home-heading{
  position: relative;
  margin-bottom: 1em;
  text-align: left;
  margin: 0px 0 70px 0;
  font-family: 'Oswald', 'Noto Sans JP', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4em;
}

.home-heading:before {
  content: '';
  position: absolute;
  left: 0%;
  bottom: -5px;/*線の上下位置*/
  display: inline-block;
  width: 200px;/*線の長さ*/
  height: 10px;/*線の太さ*/
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*位置調整*/
  background: linear-gradient(300deg, #ffffff, #D70151 70%, #6073B4);;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}

.latestnews-content{
  padding: 20px 0;
}

.latestnews-content p{
  font-size: 12px;
}

.home-content{
  background-color: white;
  padding: 20px;
  margin-bottom: 100px;
}

.stats{
  padding: 100px 0;
}

.stats-content{
  background-color: white;
  height: 400px;
}

.basicinfo{
  padding: 100px 0;
}

.basicinfo-content{
  background-color: white;
}

.basicinfo-image{
  max-width: 500px;
  width: 40%;
  float: left;
}

.basicinfo-text{
  float: left;
  padding: 20px;
}

.basicinfo-text p{
  margin: 0 0 0.3rem 0;
}

@media (max-width: 800px) {
  .basicinfo-image{
    width: 100%;
    max-width: 100%;
  }
  .basicinfo-text{
    padding: 20px;
  }
  .basicinfo-content{
    margin: 0 10px
  }
}

.basicinfo .button{
  text-align: left;
}

.feature{

}

.feature a, .feature a:hover, .feature a:active, .feature a:visited{
  text-decoration: none;
  color: black;
}

.feature-content{
  padding: 20px 0;
  text-align: center;
}

@media (max-width: 600px) {
  .feature-content{
    text-align: center;
  }
}

.feature-container{
  padding: 0 20px 20px 20px;
  text-align: center;
}

.feature-container100{
  padding: 0 0 20px 0;
  text-align: center;
}

.feature-title{
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
}

.feature-url{
  color: gray;
  font-size: 10px;
  margin: 0;
}

.feature-favicon{
  width: 1em;
  height: auto;
  vertical-align: middle;
  margin-right: 5px;
}
.feature-banner{
  width: auto;
  max-width: 100%;
  max-height: 50px;
}

.footer{
  background-color: #D70151;
  color: white;
  padding: 30px 0;
  font-weight: lighter;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .footer{
    padding: 30px 20px;
  }
}

.footer nav ul{
  width: 25%;
  float: left;
  padding: 0;
  list-style: none;
}

@media (max-width: 800px) {
  .footer nav ul{
    width: 100%;
  }
}

.footer nav li{
  padding-right: 10px;
}

.footer-copy-container{
  border-top: solid 1px;
  padding-top: 10px;
}
.footer-copy{
  float: left;
  margin: 0;
}
