---
layout: default
---

<header>
  <div class="container header-container">
    <p class="header-text">ShoyaIWNAMI.com</p>
    <nav>

    </nav>
  </div>
</header>
<main>
  <section>
    <div class="site-top">
      <div class="site-top-image"></div>
      <div class="site-top-title">
        <h1>IWANAMI<br>Shoya</h1>
      </div>
      <div class="site-top-menu">
        <ul>
          <li><a href="#latestnews">Latest news</a></li>
          <li><a href="#stats">Stats</a></li>
          <li><a href="#basicinfo">Basic info.</a></li>
          <li><a href="#feature">Feature</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </div>
      <div class="site-top-content">
        <p>こんにちは Hello 您好 안녕하세요 Hola Bonjour السلام عليكم Здравствуйте Boa tarde Guten Tag</p>
      </div>
    </div>
  </section>
  <section>
    <div id = "latestnews" class="latestnews">
      <div class="large-container">
        <h2 class="home-heading">Latest news</h2>
        <div class="latestnews-content">
          <p>2020年2月12日(水)から2020年2月13日(木)にKKRホテル熱海にて開催された新学術領域「細胞ダイバース」第３回若手ワークショップに参加し、発表を行いました。 more ></p>
          <p>2020年2月12日(水)から2020年2月13日(木)にKKRホテル熱海にて開催された新学術領域「細胞ダイバース」第３回若手ワークショップに参加し、発表を行いました。 more ></p>
          <div class="button">
            <a href="/news/">Past news ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if page.content %}
  <section>
    <div class="large-container">
      <div class="home-content">
        {{ content }}
      </div>
    </div>
  </section>
  {% endif %}
  <section>
    <div id="stats" class="stats">
      <div class="large-container">
        <h2 class="home-heading">stats</h2>
        <div class="stats-content">
          {% include stats.html %}
        </div>
      </div>
    </div>
  </section>
  <section>
    <div id="basicinfo" class="basicinfo">
      <div class="large-container">
        <h2 class="home-heading">basic info.</h2>
        <div class="basicinfo-content clearfix">
          <div class="basicinfo-image">
            <img src="/assets/img/icons/basicinfo.jpg" alt="">
          </div>
          <div class="basicinfo-text">
            <p>岩波翔也 / Shoya Iwanami</p>
            <p>5年一貫制博士課程4年</p>
            <p>九州大学数理生物学研究室<br>Mathematical biology laboratory, Kyushu University</p>
            <p>九州大学大学院システム生命科学府<br>Graduate School of Systems Life Sciences, Kyushu University</p>
            <div class="button">
              <a href="/profile/">Profile ></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section>
    <div id="feature" class="feature">
      <div class="large-container">
        <h2 class="home-heading">feature</h2>
        {% include feature.html %}
      </div>
    </div>
  </section>
</main>
<footer>
  {% include footer.html %}
</footer>
